/* styles.css */

/* Add styles here to customize the appearance of your app */


.body {
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.link:hover {
  background-color: #223094;
}
